In [298]:
import pandas as pd
import numpy as np

In [299]:
health2018 = pd.read_csv("500_Cities__Local_Data_for_Better_Health__2018_release.csv")
dfh18 = pd.DataFrame(health2018)

In [300]:
#Display dataframe
pd.options.display.float_format = '{:20}'.format
dfh18.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2016,US,United States,NaN,US,BRFSS,Prevention,59,Current lack of health insurance among adults ...,%,...,14.9,NaN,NaN,308745538,NaN,PREVENT,ACCESS2,nan,nan,Health Insurance
1,2016,US,United States,NaN,US,BRFSS,Prevention,59,Current lack of health insurance among adults ...,%,...,11.8,NaN,NaN,308745538,NaN,PREVENT,ACCESS2,nan,nan,Health Insurance
2,2016,US,United States,NaN,US,BRFSS,Health Outcomes,59,Arthritis among adults aged >=18 Years,%,...,23.2,NaN,NaN,308745538,NaN,HLTHOUT,ARTHRITIS,nan,nan,Arthritis
3,2016,US,United States,NaN,US,BRFSS,Health Outcomes,59,Arthritis among adults aged >=18 Years,%,...,25.6,NaN,NaN,308745538,NaN,HLTHOUT,ARTHRITIS,nan,nan,Arthritis
4,2016,US,United States,NaN,US,BRFSS,Unhealthy Behaviors,59,Binge drinking among adults aged >=18 Years,%,...,18.2,NaN,NaN,308745538,NaN,UNHBEH,BINGE,nan,nan,Binge Drinking

In [301]:
dfh18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810103 entries, 0 to 810102
Data columns (total 24 columns):
Year                          810103 non-null int64
StateAbbr                     810103 non-null object
StateDesc                     810103 non-null object
CityName                      810047 non-null object
GeographicLevel               810103 non-null object
DataSource                    810103 non-null object
Category                      810103 non-null object
UniqueID                      810103 non-null object
Measure                       810103 non-null object
Data_Value_Unit               810103 non-null object
DataValueTypeID               810103 non-null object
Data_Value_Type               810103 non-null object
Data_Value                    787311 non-null float64
Low_Confidence_Limit          787311 non-null float64
High_Confidence_Limit         787311 non-null float64
Data_Value_Footnote_Symbol    22794 non-null object
Data_Value_Footnote           22794 non-null object
PopulationCount               810103 non-null int64
GeoLocation                   810047 non-null object
CategoryID                    810103 non-null object
MeasureId                     810103 non-null object
CityFIPS                      810047 non-null float64
TractFIPS                     782047 non-null float64
Short_Question_Text           810103 non-null object
dtypes: float64(5), int64(2), object(17)
memory usage: 148.3+ MB

In [302]:
#Display columns
dfh18.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'],
      dtype='object')

In [303]:
#Filter for desired columns
dfh18 = dfh18[['Year', 'GeographicLevel', 'StateDesc', 'CityName','Category','Short_Question_Text','Measure','Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit', 'Data_Value_Footnote', 'PopulationCount','GeoLocation','CityFIPS','TractFIPS']]

# Filter out rows at the US or City level
dfh18 = dfh18.loc[dfh18["GeographicLevel"] != "US"]
dfh18 = dfh18.loc[dfh18["GeographicLevel"] != "City"]

#Convert Tract column to integer, replace negative numbers, and display dataframe
dfh18['TractFIPS'] = dfh18['TractFIPS'].astype("int")
dfh18['TractFIPS'] = dfh18['TractFIPS'].apply(abs)
dfh18.head()

,Year,GeographicLevel,StateDesc,CityName,Category,Short_Question_Text,Measure,Data_Value_Type,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,Data_Value_Footnote,PopulationCount,GeoLocation,CityFIPS,TractFIPS
58,2016,Census Tract,Alabama,Birmingham,Prevention,Health Insurance,Current lack of health insurance among adults ...,Crude prevalence,23.3,20.6,26.3,NaN,3042,"(33.5794328326, -86.7228323926)",107000.0,1073000100
59,2016,Census Tract,Alabama,Birmingham,Prevention,Health Insurance,Current lack of health insurance among adults ...,Crude prevalence,28.5,25.2,31.7,NaN,2735,"(33.5428208686, -86.752433978)",107000.0,1073000300
60,2016,Census Tract,Alabama,Birmingham,Prevention,Health Insurance,Current lack of health insurance among adults ...,Crude prevalence,23.9,20.5,27.6,NaN,3338,"(33.5632449633, -86.7640474064)",107000.0,1073000400
61,2016,Census Tract,Alabama,Birmingham,Prevention,Health Insurance,Current lack of health insurance among adults ...,Crude prevalence,25.8,22.0,29.9,NaN,2864,"(33.5442404594, -86.7749130719)",107000.0,1073000500
62,2016,Census Tract,Alabama,Birmingham,Prevention,Health Insurance,Current lack of health insurance among adults ...,Crude prevalence,29.4,24.8,34.2,NaN,2577,"(33.5525406139, -86.8016893706)",107000.0,1073000700

In [304]:
#View unique values in the 'Measure' column
dfh18["Measure"].unique()

array(['Current lack of health insurance among adults aged 18–64 Years',
       'Arthritis among adults aged >=18 Years',
       'Binge drinking among adults aged >=18 Years',
       'Obesity among adults aged >=18 Years',
       'High blood pressure among adults aged >=18 Years',
       'Taking medicine for high blood pressure control among adults aged >=18 Years with high blood pressure',
       'Cancer (excluding skin cancer) among adults aged >=18 Years',
       'Current asthma among adults aged >=18 Years',
       'Coronary heart disease among adults aged >=18 Years',
       'Visits to doctor for routine checkup within the past Year among adults aged >=18 Years',
       'Cholesterol screening among adults aged >=18 Years',
       'Fecal occult blood test, sigmoidoscopy, or colonoscopy among adults aged 50–75 Years',
       'Chronic obstructive pulmonary disease among adults aged >=18 Years',
       'Current smoking among adults aged >=18 Years',
       'Older adult men aged >=65 Years who are up to date on a core set of clinical preventive services: Flu shot past Year, PPV shot ever, Colorectal cancer screening',
       'Older adult women aged >=65 Years who are up to date on a core set of clinical preventive services: Flu shot past Year, PPV shot ever, Colorectal cancer screening, and Mammogram past 2 Years',
       'Visits to dentist or dental clinic among adults aged >=18 Years',
       'Diagnosed diabetes among adults aged >=18 Years',
       'High cholesterol among adults aged >=18 Years who have been screened in the past 5 Years',
       'Chronic kidney disease among adults aged >=18 Years',
       'No leisure-time physical activity among adults aged >=18 Years',
       'Mammography use among women aged 50–74 Years',
       'Mental health not good for >=14 days among adults aged >=18 Years',
       'Papanicolaou smear use among adult women aged 21–65 Years',
       'Physical health not good for >=14 days among adults aged >=18 Years',
       'Sleeping less than 7 hours among adults aged >=18 Years',
       'Stroke among adults aged >=18 Years',
       'All teeth lost among adults aged >=65 Years'], dtype=object)

In [305]:
#Filter values related to heart disease
dfh18 = dfh18.loc[dfh18["Measure"].isin(['High blood pressure among adults aged >=18 Years','Taking medicine for high blood pressure control among adults aged >=18 Years with high blood pressure','Coronary heart disease among adults aged >=18 Years','Cholesterol screening among adults aged >=18 Years','High cholesterol among adults aged >=18 Years who have been screened in the past 5 Years','Current smoking among adults aged >=18 Years','Diagnosed diabetes among adults aged >=18 Years','No leisure-time physical activity among adults aged >=18 Years','Obesity among adults aged >=18 Years'])]
dfh18.head()

,Year,GeographicLevel,StateDesc,CityName,Category,Short_Question_Text,Measure,Data_Value_Type,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,Data_Value_Footnote,PopulationCount,GeoLocation,CityFIPS,TractFIPS
283,2016,Census Tract,Alabama,Birmingham,Unhealthy Behaviors,Obesity,Obesity among adults aged >=18 Years,Crude prevalence,28.4,27.3,29.4,NaN,3257,"(33.5213873564, -86.7490031289)",107000.0,1073002306
305,2016,Census Tract,Alabama,Birmingham,Unhealthy Behaviors,Obesity,Obesity among adults aged >=18 Years,Crude prevalence,45.4,44.1,46.6,NaN,3629,"(33.5260748309, -86.7830315488)",107000.0,1073002400
361,2015,Census Tract,Alabama,Birmingham,Health Outcomes,High Blood Pressure,High blood pressure among adults aged >=18 Years,Crude prevalence,46.2,45.1,47.3,NaN,3042,"(33.5794328326, -86.7228323926)",107000.0,1073000100
362,2015,Census Tract,Alabama,Birmingham,Health Outcomes,High Blood Pressure,High blood pressure among adults aged >=18 Years,Crude prevalence,45.6,44.4,46.8,NaN,2735,"(33.5428208686, -86.752433978)",107000.0,1073000300
363,2015,Census Tract,Alabama,Birmingham,Health Outcomes,High Blood Pressure,High blood pressure among adults aged >=18 Years,Crude prevalence,50.1,48.7,51.3,NaN,3338,"(33.5632449633, -86.7640474064)",107000.0,1073000400

In [306]:
#Open and import the fast food csv into a dataframe
fastfood_file = pd.read_csv("fastfoodmaps_locations_2007.csv", header=None)
dfff = pd.DataFrame(fastfood_file)
dfff.head()

,0,1,2,3,4,5,6,7,8,9
0,1,b,3601 N.W. 27th Avenue,Miami,FL,33142,(305) 638-3838,25.8092,-80.24,0
1,2,b,8995 N. W. 7th Avenue,Miami,FL,33150,(305) 754-8453,25.8587,-80.2094,0
2,3,b,30390 South Dixie Highway,Homestead,FL,33030,(305) 247-7181,25.4849,-80.461,0
3,4,b,7975 N. W. 27th Avenue,Miami,FL,33147,(305) 836-8152,25.8471,-80.2415,0
4,5,b,9201 South Dixie Highway,Miami,FL,33156,(305) 666-1130,25.6849,-80.3125,0

In [307]:
#Select and rename useful columns
dfff = dfff[[1,3,4,5,7,8]]
dfff.columns = ["Name","City","State","Zip Code","Latitude","Longitude"]

# Map restaurant names to the Name column
fastfood_dict = {'m':"McDonald's",'b':"Burger King",'p':"Pizza Hut",'t':"Taco Bell",'w':"Wendy's",'k':"KFC",'j':"Jack",'h':"Hardee's",'c':"Carl's Jr.",'i':"In-N-Out"}
dfff["Name"] = dfff["Name"].map(fastfood_dict)
dfff.head()

,Name,City,State,Zip Code,Latitude,Longitude
0,Burger King,Miami,FL,33142,25.8092,-80.24
1,Burger King,Miami,FL,33150,25.8587,-80.2094
2,Burger King,Homestead,FL,33030,25.4849,-80.461
3,Burger King,Miami,FL,33147,25.8471,-80.2415
4,Burger King,Miami,FL,33156,25.6849,-80.3125

In [308]:
dfff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50002 entries, 0 to 50001
Data columns (total 6 columns):
Name         50002 non-null object
City         50002 non-null object
State        50002 non-null object
Zip Code     50002 non-null object
Latitude     50002 non-null float64
Longitude    50002 non-null float64
dtypes: float64(2), object(4)
memory usage: 2.3+ MB

In [309]:
dfff["Zip Code"].value_counts()

29607         21
92335         21
78041         20
21740         20
90650         20
29577         20
23320         20
29303         20
91761         20
89030         19
90045         19
89117         18
93277         18
92392         18
63376         18
92111         18
89014         18
92054         18
29501         18
92704         18
89103         18
89102         18
89123         17
94538         17
89109         17
75067         17
22192         17
93309         17
46227         17
32819         17
              ..
80241          1
92173-1827     1
46746-9678     1
95901-5925     1
28349          1
72719          1
65109-1728     1
78362          1
95304          1
94539-7994     1
85345-9313     1
37356-2117     1
78749          1
33446          1
85614-1957     1
48111-1308     1
93901-2606     1
94621-1914     1
96813-2706     1
92019-4342     1
62040-4618     1
71108-2128     1
48183-5086     1
93702-3708     1
30328-4005     1
63368          1
43228-1411     1
84603          1
33014-5373     1
94402-3020     1
Name: Zip Code, Length: 16862, dtype: int64

In [310]:
# Remove trailing digits for zip codes
zclist = []
for zc in dfff["Zip Code"]:
    if len(zc)>5:
        zclist.append(zc[:5])
    else:
        zclist.append(zc)
dfff["Zip Code"] = zclist
dfff["Zip Code"] = dfff["Zip Code"].astype("int")

In [311]:
# Read zip-to-tract conversion file
tractzip = pd.read_excel("Tract-zip.xlsx")

# Extract desired columns and display the df
tractzip = tractzip[["zip","tract"]]
tractzip.head()

     zip       tract
0  36067  1001020100
1  36067  1001020200
2  36067  1001020300
3  36067  1001020400
4  36066  1001020400

In [312]:
tractzip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171501 entries, 0 to 171500
Data columns (total 2 columns):
zip      171501 non-null int64
tract    171501 non-null int64
dtypes: int64(2)
memory usage: 2.6 MB

In [313]:
# Merge health dataframe with conversion dataframe
dfh18m = pd.merge(dfh18,tractzip,how="inner",left_on="TractFIPS",right_on="tract")
dfh18m.head()

,Year,GeographicLevel,StateDesc,CityName,Category,Short_Question_Text,Measure,Data_Value_Type,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,Data_Value_Footnote,PopulationCount,GeoLocation,CityFIPS,TractFIPS,zip,tract
0,2016,Census Tract,Alabama,Birmingham,Unhealthy Behaviors,Obesity,Obesity among adults aged >=18 Years,Crude prevalence,28.4,27.3,29.4,NaN,3257,"(33.5213873564, -86.7490031289)",107000.0,1073002306,35222,1073002306
1,2016,Census Tract,Alabama,Birmingham,Unhealthy Behaviors,Obesity,Obesity among adults aged >=18 Years,Crude prevalence,28.4,27.3,29.4,NaN,3257,"(33.5213873564, -86.7490031289)",107000.0,1073002306,35212,1073002306
2,2016,Census Tract,Alabama,Birmingham,Unhealthy Behaviors,Obesity,Obesity among adults aged >=18 Years,Crude prevalence,28.4,27.3,29.4,NaN,3257,"(33.5213873564, -86.7490031289)",107000.0,1073002306,35213,1073002306
3,2015,Census Tract,Alabama,Birmingham,Health Outcomes,High Blood Pressure,High blood pressure among adults aged >=18 Years,Crude prevalence,32.5,31.5,33.5,NaN,3257,"(33.5213873564, -86.7490031289)",107000.0,1073002306,35222,1073002306
4,2015,Census Tract,Alabama,Birmingham,Health Outcomes,High Blood Pressure,High blood pressure among adults aged >=18 Years,Crude prevalence,32.5,31.5,33.5,NaN,3257,"(33.5213873564, -86.7490031289)",107000.0,1073002306,35212,1073002306

In [314]:
# Merge health dataframe with fast food location dataframe
dfh18m = pd.merge(dfh18m,dfff,how="inner",left_on="zip",right_on="Zip Code")
dfh18m.head()

,Year,GeographicLevel,StateDesc,CityName,Category,Short_Question_Text,Measure,Data_Value_Type,Data_Value,Low_Confidence_Limit,...,CityFIPS,TractFIPS,zip,tract,Name,City,State,Zip Code,Latitude,Longitude
0,2016,Census Tract,Alabama,Birmingham,Unhealthy Behaviors,Obesity,Obesity among adults aged >=18 Years,Crude prevalence,28.4,27.3,...,107000.0,1073002306,35212,1073002306,Hardee's,Birmingham,AL,35212,33.547,-86.7579
1,2016,Census Tract,Alabama,Birmingham,Unhealthy Behaviors,Obesity,Obesity among adults aged >=18 Years,Crude prevalence,28.4,27.3,...,107000.0,1073002306,35212,1073002306,McDonald's,Birmingham,AL,35212,33.5435,-86.7486
2,2015,Census Tract,Alabama,Birmingham,Health Outcomes,High Blood Pressure,High blood pressure among adults aged >=18 Years,Crude prevalence,32.5,31.5,...,107000.0,1073002306,35212,1073002306,Hardee's,Birmingham,AL,35212,33.547,-86.7579
3,2015,Census Tract,Alabama,Birmingham,Health Outcomes,High Blood Pressure,High blood pressure among adults aged >=18 Years,Crude prevalence,32.5,31.5,...,107000.0,1073002306,35212,1073002306,McDonald's,Birmingham,AL,35212,33.5435,-86.7486
4,2015,Census Tract,Alabama,Birmingham,Prevention,Taking BP Medication,Taking medicine for high blood pressure contro...,Crude prevalence,79.1,78.4,...,107000.0,1073002306,35212,1073002306,Hardee's,Birmingham,AL,35212,33.547,-86.7579

In [315]:
dfh18m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36459 entries, 0 to 36458
Data columns (total 24 columns):
Year                     36459 non-null int64
GeographicLevel          36459 non-null object
StateDesc                36459 non-null object
CityName                 36459 non-null object
Category                 36459 non-null object
Short_Question_Text      36459 non-null object
Measure                  36459 non-null object
Data_Value_Type          36459 non-null object
Data_Value               34281 non-null float64
Low_Confidence_Limit     34281 non-null float64
High_Confidence_Limit    34281 non-null float64
Data_Value_Footnote      2178 non-null object
PopulationCount          36459 non-null int64
GeoLocation              36459 non-null object
CityFIPS                 36459 non-null float64
TractFIPS                36459 non-null int64
zip                      36459 non-null int64
tract                    36459 non-null int64
Name                     36459 non-null object
City                     36459 non-null object
State                    36459 non-null object
Zip Code                 36459 non-null int32
Latitude                 36459 non-null float64
Longitude                36459 non-null float64
dtypes: float64(6), int32(1), int64(5), object(12)
memory usage: 6.8+ MB

In [316]:
# Remove redundant columns and rename columns
dfh18m = dfh18m[["Year","GeographicLevel","StateDesc","CityName","Short_Question_Text","Measure","Data_Value_Type","Data_Value","Low_Confidence_Limit","High_Confidence_Limit","PopulationCount","GeoLocation","CityFIPS","TractFIPS","Name","Zip Code","Latitude","Longitude"]]
dfh18m.columns = ["Year","GeographicLevel","State","City","Category","Measure","Data_Type","Data_Value","Low_Confidence_Limit","High_Confidence_Limit","Population","Tract GeoLocation","CityFIPS","TractFIPS","Restaurant Name","Zip Code","Restaurant Latitude","Restaurant Longitude"]

# Select heart disease rows
dfh18m = dfh18m.loc[dfh18m["Category"] == "Coronary Heart Disease"]

# Remove rows with no data value
dfh18m.Data_Value = dfh18m.Data_Value.fillna("Missing")
dfh18m = dfh18m[dfh18m.Data_Value != "Missing"]

dfh18m.head()

,Year,GeographicLevel,State,City,Category,Measure,Data_Type,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,Population,Tract GeoLocation,CityFIPS,TractFIPS,Restaurant Name,Zip Code,Restaurant Latitude,Restaurant Longitude
6,2016,Census Tract,Alabama,Birmingham,Coronary Heart Disease,Coronary heart disease among adults aged >=18 ...,Crude prevalence,5.9,5.4,6.4,3257,"(33.5213873564, -86.7490031289)",107000.0,1073002306,Hardee's,35212,33.547,-86.7579
7,2016,Census Tract,Alabama,Birmingham,Coronary Heart Disease,Coronary heart disease among adults aged >=18 ...,Crude prevalence,5.9,5.4,6.4,3257,"(33.5213873564, -86.7490031289)",107000.0,1073002306,McDonald's,35212,33.5435,-86.7486
24,2016,Census Tract,Alabama,Birmingham,Coronary Heart Disease,Coronary heart disease among adults aged >=18 ...,Crude prevalence,7.8,7.2,8.3,3629,"(33.5260748309, -86.7830315488)",107000.0,1073002400,Hardee's,35212,33.547,-86.7579
25,2016,Census Tract,Alabama,Birmingham,Coronary Heart Disease,Coronary heart disease among adults aged >=18 ...,Crude prevalence,7.8,7.2,8.3,3629,"(33.5260748309, -86.7830315488)",107000.0,1073002400,McDonald's,35212,33.5435,-86.7486
40,2016,Census Tract,Alabama,Birmingham,Coronary Heart Disease,Coronary heart disease among adults aged >=18 ...,Crude prevalence,8.3,7.7,9.0,2735,"(33.5428208686, -86.752433978)",107000.0,1073000300,Hardee's,35212,33.547,-86.7579

In [317]:
dfh18m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3809 entries, 6 to 36398
Data columns (total 18 columns):
Year                     3809 non-null int64
GeographicLevel          3809 non-null object
State                    3809 non-null object
City                     3809 non-null object
Category                 3809 non-null object
Measure                  3809 non-null object
Data_Type                3809 non-null object
Data_Value               3809 non-null object
Low_Confidence_Limit     3809 non-null float64
High_Confidence_Limit    3809 non-null float64
Population               3809 non-null int64
Tract GeoLocation        3809 non-null object
CityFIPS                 3809 non-null float64
TractFIPS                3809 non-null int64
Restaurant Name          3809 non-null object
Zip Code                 3809 non-null int32
Restaurant Latitude      3809 non-null float64
Restaurant Longitude     3809 non-null float64
dtypes: float64(5), int32(1), int64(3), object(9)
memory usage: 550.5+ KB

In [318]:
export_csv = dfh18m.to_csv(r'C:\Users\Hendrick\Desktop\Projects\Sun Health\health_2018_merged.csv', index = "Year", header=True)